.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.bdr {
  border: 1px double black;
  margin: 2px 2px;
}
